* {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: skyblue;
}

header * {
  margin: 0;
  padding: 0;
}

nav {
  background: green;
  margin: 0;
  padding: 0;
}

nav * {
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.title {
  width: 10%;
  background: red;
  height: 100%;
  padding-left: 10px;
  margin: 0;
  padding: 0;
}

li {
  margin: 0px;
  padding: 5px;
  background: white;
  height: 30px;
  font-size: 16px;
}
* ul {
  background: blue;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  text-align: center;
  background: grey;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}

footer * {
  padding: 0;
  margin: 0;
}
