* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
}

ul {
  list-style: none;
}

.external {
  display: none;
  visibility: none;
}

.top {  position: absolute;  top: 0; }
.right {  position: absolute;  right: 0; }
.bottom {  position: absolute;  bottom: 0; }
.left {  position: absolute;  left: 0; }

.container-fluid {
  height: 100%;
}

.header-bar {
  background: #333;
  color: white;
  min-height: 6%;
  padding-left: 10%;
}



.main-content {
  min-height: 94%;
  background: #dcdcdc;
}

.content-centre {
  background: white;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 2%;
}

.projects-container {
  border-radius: 10px;
  position: relative;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.project {
  border-radius: 10px;

}

.projectIcon {
  position: relative;
  width: 100%;
  min-width: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.project:nth-child(even){
  background-color: #dcdcdc;
}

.project:nth-child(odd){
  background-color: #cdcdcd;
}
