<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hue Control Tutorial</title>
    <link rel="stylesheet" href="./components/tutorials/tutorials.css">
    <link rel="stylesheet" href="./tutorials.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>

  </head>
  <body class="external">

    <div class="tutorial">
      <div class="tutorial-header-container">
        <h1 class="tutorial-heading">Control Philips Hue using Node.js</h1>
        <div class="tutorial-date-container">
          <p class="tutorial-date">Date Posted: <span>15/04/2018</span> Last Modified: <span>15/04/2018</span></p>
        </div>
      </div>
      <div class="tutorial-content">
        <p>
          In this tutorial, we'll walk through setting up and registering your server with a Philips Hue Hub, then sending commands to change the status of any attached lights.
          <br/>As usual, this is intended for use on a Raspberry Pi, which will run this program 24/7, so any CLI instructions will be intended for linux/bash.
          <br/>
          <br/>We'll mainly be using the <a href="https://www.npmjs.com/package/node-hue-api">node-hue-api</a> package to do this.
          <br/>
          <br/>An official walkthrough of controlling Hue via your browser can be found at: <a href="https://developers.meethue.com/documentation/getting-started">Philips: Meet Hue</a>
          <br/>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J_p8m3HdbCE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>
          Completed Source Code: <a href="https://github.com/Jack.Gooding">Github</a>
        </p>
        <div data-include="contents"></div>
        <div class="contents-container">
          <div class="contents-border">
            <ol class="contents-list">
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Installing-Package">Installing Package</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Finding-bridge">Finding a Bridge</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Registering">Registering a user</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Checking-username">Checking for user</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Finding-bulbs">Finding the Bulbs</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Commanding-bulbs">Commanding the Bulbs</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Improvements">Improvements</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Extras">Extras</a></li>
            </ol>
        </div>
      </div>
      <h3 class="subheading" id="Installing-Package"><a href="index.html#!/tutorials/hue_control_nodejs#Installing-Package">#Installing Package</a></h3>
      <p>
        The first thing we need to do is create a folder, initialise it, then install the <a href="https://www.npmjs.com/package/node-hue-api">node-hue-api</a> package to Node.js.
      </p>
      <div class="code">
        <span class="code-file-name">bash / linux shell</span>
        <pre>
          <span class="code-comment">// Create a folder and navigate to it </span>
          mkdir hue_control
          cd hue_control

          <span class="code-comment">// initialise this folder and install packages </span>
          npm init
          npm install -g node-hue-api
        </pre>
      </div>

      <h3 class="subheading" id="Finding-bridge"><a href="#Finding-bridge">#Finding a Bridge</a></h3>
      <p>
        Any commands we want to send to a Hue Bulb will need to pass through the Philips Hue Bridge, so first we need to find the Bridge on the local network.

        It's possible to find this via the DCHP page on a router, however this isn't automated and may sometimes change.
        It would better if we create an automated script that completes all the neccessary setup, so we only have to worry about sending commands to the lights.

        Create a new file named 'hue-server.js' and add the following code to it:

      </p>
      <div class="code">
        <span class="code-file-name">hue-server.js</span>
        <pre>
          <span class="code-comment">// Include the node-hue-api package, and link two of its premade objects</span>
          let hue = require("node-hue-api"),
          HueApi = hue.HueApi,
          lightState = hue.lightState;

          <span class="code-comment">// Creating a global variable to hold the Bridge data.</span>
          let hueData, hueBridgeIP;

          <span class="code-comment">// Display the bridge data, then update the above variables.</span>
          let displayBridges = function(hueBridge) {
                console.log("Hue Bridge Found: " + JSON.stringify(hueBridge));
                hueData = hueBridge;
                hueBridgeIP = hueBridge[0].ipaddress;
              };

          <span class="code-comment">// Retrieve Hue Bridge data, and passing that to displayBridges()</span>
          hue.nupnpSearch(function(err, result) {
            if (err) throw err;
            displayBridges(result);
          });

        </pre>
      </div>

      <h3 class="subheading" id="Registering"><a href="#Registering">#Registering a user</a></h3>
      <p>
        Now for the Bridge to accept any commands we send, we need a valid user profile.
        <br/>The easiest way to do this is to follow the tutorial at <a href="https://developers.meethue.com/documentation/getting-started">Philips: Getting Started</a>
        , but again this is not automated.
        <br/>
        <br/>We will send a user creation request to the Bridge, and store the output in a similar manner to the <i>hueBridgeIP</i>.
        <br/>
        <br/>Add the following code in green to 'hue-server.js', underneath <i>hue.nupnpSearch()</i>.

      </p>
      <div class="code">
        <span class="code-file-name">hue-server.js</span>
        <pre>
          <span class="code-comment">// adding hueBridgeUsername to variable list.</span>
          let hueData, hueBridgeIP<span class="code-green">, hueBridgeUsername</span>;

          <span class="code-green">
          <span class="code-comment">// Display the new username, then update hueBridgeUsername</span>
          let displayUserResult = function(result) {
              console.log("Created user: " + JSON.stringify(result));
              hueBridgeUsername = result;
          };

          <span class="code-comment">// Simple function to display any errors that may occur</span>
          let displayError = function(err) {
              console.log(err);

          <span class="code-comment">// Simple function to display any errors that may occur</span>
          hue.createUser(hueBridgeIP, function(err, username) {
              if (err) throw err;
              displayUserResult(username);
          });
        </span>
        </pre>
      </div>

      <h3 class="subheading" id="Checking-username"><a href="#Checking-username">#Checking for Username</a></h3>
        <p>
          So this is great, we can now communicate with the Hue Bridge, and soon the Hue lights!
          however, we don't want to be creating a new user account every time, so it would be best if we check if we've registered a user already when launching the server.
          <br/>
          <br/>To do this, we will save the user details into a <i>'hueUser.txt'</i> file in the root of this project folder, and check that for a user account on every launch.
          <br/>We'll use the <i>'fs'</i> package for this.
          <br/>
          <br/>Update <i>'hue-server.js'</i> to the code below.
        </p>
        <div class="code">
          <span class="code-file-name">hue-server.js</span>

          <pre>
            let hue = require('node-hue-api'),
            HueApi = hue.HueApi,
            lightState = hue.lightState;

            <span class="code-green">let fs = require('fs');</span>

            let hueData, hueBridgeIP, hueBridgeUsername;

            let displayBridges = function(hueBridge) {
                  console.log("Hue Bridge Found: " + JSON.stringify(hueBridge));
                  hueData = hueBridge;
                  hueBridgeIP = hueBridge[0].ipaddress;
                };

            let displayUserResult = function(result) {
                  console.log("Created user: " + JSON.stringify(result));
                  hueBridgeUsername = result;
                };

            let displayError = function(err) {
                  console.log(err);

            hue.nupnpSearch(function(err, result) {
              if (err) throw err;
              displayBridges(result);
            });

            <span class="code-comment">// Read content in 'hueUser.txt' and assign to 'hueBridgeUsername' if there's nothing there, create a new user</span>
            <span class="code-green">fs.readFile('hueUser.txt', function(err, data){
              if (data) {
                hueBridgeUsername = data;
              } else {
                hue.createUser(hueBridgeIP, function(err, username) {
                  if (err) throw err;
                  displayUserResult(username);
                };
              });
            });
            </span>
          </pre>
        </div>

      <h3 class="subheading" id="Finding-bulbs"><a href="#Finding-bulbs">#Finding the Bulbs</a></h3>
        <p>
          So now our server is able to reliably find the hub and connect with a valid user, we can start searching for bulbs to command!
          <br/> This is the most complicated part and is really just my personal preferance, sorting the data from the hue hub into a more useful format.
          <br/>
          <br/> Once we've done this, it's easy to control the lights! Add this code to the bottom of 'server.js'.
        </p>
        <div class="code">
          <span class="code-file-name">hue-server.js</span>

          <pre>
            <span class="code-comment">// Create global blank array to store data</span>
            var hueLightData = [];

            <span class="code-comment">// Request data on attached lights</span>
            api.lights(function(err, devices ) {
                if (err) throw err;

                <span class="code-comment">// Format data and prepare</span>
                let lightsJSON = JSON.stringify(devices, null, 2);
                lightsJSON = JSON.parse(lightsJSON);
                lightsJSON = lightsJSON.lights;

                <span class="code-comment">// For each light, scrape important data into an object, and push object onto array</span>
                for (let i = 0; i < lightsJSON.length; i++) {

                  <span class="code-comment">// Only attempt to get info if the light has power</span>
                  if (lightsJSON[i].state.reachable) {
                    hueLightData.push(
                      {
                        "name":lightsJSON[i].name,
                        "type":lightsJSON[i].type,
                        "id":lightsJSON[i].id,
                        "state":{
                                  "on":lightsJSON[i].state.on,
                                  "brightness":lightsJSON[i].state.bri,
                                },
                      }
                    )
                  };
              };

              console.log(hueLightData);
            });
          </pre>
        </div>

        <p>
          <br/>
          When running this, we'll get a JSON object, which we can use to see any bulbs connected to the Bridge, and the current state of them.
        </p>

      <h3 class="subheading" id="Commanding-bulbs"><a href="#Commanding-bulbs">#Commanding the Bulbs</a></h3>
        <p>
          To command a specific light, we target the id of that bulb, and then apply some methods to the lightState.
          <br/> Although Hue does give the option to assign names to Bulbs, these names do not need to be unique, so a unique id is a much better target.

        </p>
        <div class="code">
          <span class="code-file-name">hue-server.js</span>

          <pre>
            api.setLightState(1, lightState.create().on().rgb(255,200,200).brightness(80));
          </pre>
        </div>
        <p>
          <br/>
          The above code is the basic method of sending a commmand to a specific bulb. Interesting, but inconvienient to use as we'd have to edit the script every time we want to send a new code!
          <br/>Instead, we can do some more advanced things, like creating a webserver and using that to input variables. This is more complicated, and something I may cover in a later tutorial.
          <br/>For now, here is something that will cycle through all available lights, setting them to a random colour and brightness.
        </p>
        <div class="code">
          <span class="code-file-name">hue-server.js</span>

          <pre>
            setInterval(function() {

              for (let i = 0; i < hueLightData.length; i++) {

                red = Math.random()*255;
                blue = Math.random()*255;
                green = Math.random()*255;
                brightness = 30 + math.random()*225;

                api.setLightState(hueLightData[i].id, lightState.create().on().rgb(red,green,blue).brightness(brightness));

              }
            })
          </pre>
        </div>

        <p>
          As stated, this is only a basic overview of how to find and control Hue Bulbs using Node.js, but should be enough to get you started.
          If you have any problems, please get in contact and I will do my best to help!
        </p>
    </div>
  </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
<script src="./components/tutorials.js"></script>
