<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hue Control Tutorial</title>
    <link rel="stylesheet" href="./components/tutorials/tutorials.css">
    <link rel="stylesheet" href="./tutorials.css">
  </head>
  <body class="external">

    <div class="tutorial">
      <div class="tutorial-header-container">
        <h1 class="tutorial-heading">Control Philips Hue using Node.js</h1>
        <div class="tutorial-date-container">
          <p class="tutorial-date">Date Posted: <span>15/04/2018</span> Last Modified: <span>15/04/2018</span></p>
        </div>
      </div>
      <div class="tutorial-content">
        <p>
          In this tutorial, we'll walk through setting up and registering your server with a Philips Hue Hub, then sending commands to change the status of any attached lights.
          <br/>As usual, this is intended for use on a Raspberry Pi, which will run this program 24/7, so any CLI instructions will be intended for linux/bash.
          <br/>
          <br/>We'll mainly be using the <a href="https://www.npmjs.com/package/node-hue-api">node-hue-api</a> package to do this.
          <br/>
          <br/>An official walkthrough of controlling Hue via your browser can be found at: <a href="https://developers.meethue.com/documentation/getting-started">Philips: Meet Hue</a>
          <br/>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J_p8m3HdbCE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>
          Completed Source Code: <a href="https://github.com/Jack.Gooding">Github</a>
        </p>
        <div data-include="contents"></div>
        <div class="contents-container">
          <div class="contents-border">
            <ol class="contents-list">
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Installing-Package">Installing Package</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Finding-bridge">Finding a Bridge</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Registering">Registering a user</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Checking-username">Checking for user</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Finding-bulbs">Finding the Bulbs</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Commanding-bulbs">Commanding the Bulbs</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Improvements">Improvements</a></li>
              <li><a href="index.html#!/tutorials/hue_control_nodejs#Extras">Extras</a></li>
            </ol>
        </div>
      </div>
      <h3 class="subheading" id="Installing-Package"><a href="index.html#!/tutorials/hue_control_nodejs#Installing-Package">#Installing Package</a></h3>
      <p>
        The first thing we need to do is create a folder, initialise it, then install the <a href="https://www.npmjs.com/package/node-hue-api">node-hue-api</a> package to Node.js.
      </p>
      <div class="code">
        <span class="code-file-name">bash / linux shell</span>
        <pre>
          <span class="code-comment">// Create a folder and navigate to it </span>
          mkdir hue_control
          cd hue_control

          <span class="code-comment">// initialise this folder and install packages </span>
          npm init
          npm install -g node-hue-api
        </pre>
      </div>


    </div>
  </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
<script src="./components/tutorials.js"></script>
