<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intruder Detection</title>
    <link rel="stylesheet" href="./components/tutorials/tutorials.css">
    <link rel="stylesheet" href="./tutorials.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>

  </head>
  <body class="external">

    <div class="tutorial">
      <div class="tutorial-header-container">
        <h1 class="tutorial-heading">Intruder Detection using Raspberry Pi:</h1>
        <div class="tutorial-date-container">
          <p class="tutorial-date">Date Posted: <span>29/08/2018</span> Last Modified: <span>29/08/2018</span></p>
        </div>
      </div>
      <div class="tutorial-content">
        <p>In this tutorial i'll be showing you how to set up a simple webserver to detect motion and trigger a Raspberry Pi to take a photo using a camera.
          This is a fairly simple task but basic electronics will be needed as well as having Node.js already set up on your RPi.
        </p>
        <h4>Additonal Materials Needed</h4>
        <ul>
          <li>Rasperry Pi Camera</li>
          <li>PIR Motion Detector</li>
        </ul>

        <div data-include="contents"></div>
        <div class="contents-container">
          <div class="contents-border">
            <ol class="contents-list">
              <li><a href="#Preparation">Preparation</a></li>
              <li><a href="#Code">Code</a></li>
              <li><a href="#Testing">Testing</a></li>
              <li><a href="#Improvements">Improvements</a></li>
              <li><a href="#Extras">Extras</a></li>
            </ol>
        </div>
      </div>
      <h3 class="subheading" id="Preparation"><a href="#Preparation">#Preparation</a></h3>
      <p>
        First, connect the cameras ribbon cable into the camera socket on the Pi. You'll need to lift the white latch, insert the ribbon cable and then press the latch back down.
        <br>
        Now we need to wire the PIR sensor into the GPIO pins of the Pi. Using some jumper cables, connect up <span class="todo">the first pin to +5V, the middle pin to GPIO pin 26, and the final pin to ground.</span>
        <br>
        <br>
        We'll also need to install an NPM module for the camera.
        https://www.npmjs.com/package/raspicam
      </p>
      <div class="code">
        <pre>
          <span class="code-comment">//Add the npm package for raspicam</span>
          npm install raspicam
        </pre>
      </div>

      <h3 class="subheading" id="Code"><a href="#Code">#Code</a></h3>
        <p>
          First, make a folder named <i>'motion_sensor'</i> on your Raspberry Pi, then navigate into it and create a file named <i>motion_sensor.js</i>, then add the following code into it.
        </p>
        <div class="code">
          <pre>
            <span class="code-comment">//Dependencies</span>

            var Gpio = require('onoff').Gpio; //include onoff to interact with the GPIO
            var RaspiCam = require("raspicam"); //include Raspberry Pi Camera module

            <span class="code-comment">//Variables</span>

            var pirSensor = new Gpio(26,'in', 'both') //Define PIR GPIO
          </pre>
        </div>
        <p>
          Now we need to add some functional code. Add this below the previous code.
        </p>
        <div class="code">
          <pre>

            pirSensor.watch(function (err, value) {
              if (err) {
                console.error('There was an error', err);
              };

              console.log("Motion Detected!");

            };
          </pre>
        </div>
      <p>
      This will continously watch for a change in the output of the PIR sensor, while it detects movement it will report this to the console
      <br>
      This is great, we can see the device is working and we can track it! Now we need to add the camera!
      <br>
      Add the following code beneath the previous section.
      </p>
      <div class="code">
        <pre>
          <span class="code-comment">//Create a 'camera' construction object and pass it some values</span>
          var camera = new RaspiCam({
            mode: "photo",
            output: "test.jpg", //location of photo to be saved
            encoding: "jpg", //file extension type, not required
            quality: 100, //photo quality, 1-100, higher is better but slower
          });

          <span class="code-comment">//to take a snapshot, start a timelapse or video recording</span>
          camera.start( );

          <span class="code-comment">//listen for the "read" event triggered when each new photo/video is saved</span>
          camera.on("read", function(err, timestamp, filename){
          	console.log("Photo Taken!");
          });
        </pre>
      </div>
      <p>
        When running the server now, it will take a single photo and save it as 'test.jpg'.
      <br>
        This is nice progress, but we need to join the two functions to take a snap of any intruders.
        <br>
        for ease, the following code below is the entire code required and should replace all existing code in <i>motion_sensor.js</i>.
      </p>
      <div class="code">
        <pre>
          <span class="code-comment"></span>
          var Gpio = require('onoff').Gpio;
          var RaspiCam = require("raspicam");

          var pirSensor = new Gpio(26,'in', 'both')
          <span class="code-green">
          var motionDetectStatus = false;
          var photoNameModifier = 0;
          </span>
          var camera = new RaspiCam({
            mode: "photo",
            output: "test" + photoNameModifier + ".jpg", //location of photo to be saved
            encoding: "jpg", //file extension type, not required
            quality: 100, //photo quality, 1-100, higher is better but slower
          });



          pirSensor.watch(function (err, value) {
            if (err) {
              console.error('There was an error', err);
            };

            <span class="code-green">
            if (!motionDetectStatus) { <span class="code-comment">//Checks if motion detection is already in progress</span>
              motionDetectStatus = true; <span class="code-comment">//Stops further triggers from sensor</span>
              photoNameModifier++; <span class="code-comment">//Changes the filename of photo per photo taken</span>
            </span>
              camera.start( );
              console.log("Motion Detected!");

              camera.on("read", function(err, timestamp, filename){
                console.log("Photo Taken, Motion Detection is ready again!");
                <span class="code-green">motionDetectStatus = false;</span> <span class="code-comment">//Unblocks sensor triggers</span>
              });
            };
          };
        </pre>
      </div>
      <h3 class="subheading" id="Testing"><a href="#Testing">#Testing</a></h3>
      <p>
        Now we can test the installation simply by directing node to run the new script with the following command.
      </p>
      <div class="code">
        <pre>
          node motion-sensor.js
        </pre>
      </div>
      <p>
        Now if you stand in front of the PIR sensor, the device will take photos as frequently as possible and save them all to the root directory of this project.
      </p>

      <h3 class="subheading" id="Improvements"><a href="#Improvements">#Improvements</a></h3>

      <p>
        There are a lot of improvements that could be made, for example if running a webserver at the same time, a button could be added and used to turn this on /off.
        I currently have this device set up with the NodeMailer package, which automatically emails me the photo of the intruder.
        <br>
        <br>
        I won't go into these improvements here, as I will have other tutorials available that cover how to do this in a broader scope.
      </p>

    </div>
  </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
