.tutorial {
  padding-bottom: 100px;
}

.tutorial-header-container {
  margin-top: 2em;
}


.tutorial-container {
  background: grey;
  border-radius: 5px;
  margin: 5px 5px;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tutorial-container-image {
  height: 80%;
  width: 100%;
  background: #dcdcdc;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.tutorial-container-image > img {
  height: 100%;
  padding: 5%;
}

.tutorial-container-header {
  height: 20%;
  width: 100%;
  background: white;
  border-radius:  0 0 5px 5px;
  text-align: center;
}

.tutorial-container-header > p {
  font-size
}

.tutorial-content p {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.tutorial-heading {
  font-weight: 500;
  font-family: helvetica;
}

.tutorial-date-container {
  width: 200px;
}

.tutorial-date {
  color: orange;
  font-weight: 600;
  display: inline-block;
  width: 500px;
}

.tutorial-date > span {
  color: black;
}

.contents-container {
  padding: 1px;
  border: solid black 1px;
  width: 200px;
  height: auto;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contents-border {
  margin: 1px;
  border: solid 1px orange;
  padding: 5px;
  padding-left: 25px;
}

.contents-list {
  padding: 0;
  margin: 0;
  width: 250px;
}

.contents-list > li {
  padding: 0;
  margin: 0;
}

.subheading {
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.code {
  background: #2d2d2d;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.code > pre {
  margin: 0;
  color: white;
  padding-left: 0;
}

.code > .code-file-name {
  float: right;
  color: #afafaf;
}

.code-comment {
  color: #8f8f8f;
}

.code-green {
  color: #8fff8f;
}
