<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Jack Gooding: 3D Printing</title>
    <link rel="stylesheet" href="components/3D Design/3D_Printing.less">
    <link rel="stylesheet" href="3D Design/3D_Printing.less">
    <link rel="icon" type="image/png" href="curriculum_vitae\favicon.ico"/>
    <script src="components/3D Design/3D_Printing.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!--===========================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--===========================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>

  </head>
  <body class="external load">
  <div class="container">
    <h2>3D Printing!</h2>
      <p>I recently bought an Anet A8 and I've been trying to design losts of different prototypes, some to solve minor problems around the house, some as a technical test of my CAD skills and of the 3D printers limiations.</p>
    <h2>My Designs</h2>
      <div class="CAD-container">
      <table>
        <tr>
          <td><p class="CAD-title">Key Holder</p></td>
          <td><div class="img-container"><img src="components\3D Design\KeyHolder6.PNG" onclick="openLightbox();currentSlide(1)"></div></td>
          <td><p>The general idea of this is to have a swiss army knife to stop my keys jingling, keep my USB from being further dented or scratched, and to have a small multi-purpose container that I'd have 24/7.
              <br/>So far I have spaces for three standard keys, <a class="prettylink" href="http://amzn.eu/iLHGUjj ">a Kingston USB</a>, a flathead & phillips hex insert, and two barcodes for store membership cards.
              <br/>I plan for the container to hold at minimum; some aspirin, a needle and thread, and some matches.</p></td>
          <td>Thingiverse <br/> Onshape</td>
        </tr>
        <tr>
          <td><p  class="CAD-title">Pint Glass Adapter</p></td>
          <td><div class="img-container"><img src="components\3D Design\PintGlassAdapter1.PNG" onclick=";"></div></td>
          <td><p>
            I won a Pint glass in a competition at work recently, however we are advised against using open topped containers so I designed this adapter to convert it into a travel mug.
            <br/> It's printed in two parts, one of which slides up the outside, and the other clamps over the top once threaded together.
            <br/> A thin layer of sheet rubber cut to the right size provides a watertight seal between the rim of the glass and the printed part.
          </p></td>
          <td></td>

        </tr>
        <tr>
          <td><p  class="CAD-title">Blind Control Gears</p></td>
          <td><div class="img-container"><img src="components\3D Design\BlindControlGears1.PNG"></div></td>
          <td><p>
            In pursuit of ever increasing the amount of things i can control from my Home server, I've been working on controlling a stepper motor using arduino to move my windows blinds up and down.
            <br/>This design holds a Nema 17 Motor in place while two gears increase the torque by 3:1. The cord for the blinds attaches to a face plate attached to the larger gear.
          </p></td>
          <td></td>

        </tr>
        <tr>
          <td><p  class="CAD-title">Door Hook Spacer</p></td>
          <td><div class="img-container"><img src="components\3D Design\DoorSpacer1.PNG"></div></td>
          <td><p>
            I have a set of over-door hooks which are too large for the doors in my new house, which means they catch on the door frame when closing the door.
            <br/> This part slots into a gap in the hook to make up for the door being to thin.
          </p></td>
          <td></td>

        </tr>
        <tr>
          <td><p  class="CAD-title">Keyboard Volume Dial</p></td>
          <td><div class="img-container"><img src="components\3D Design\KeyboardDial1.PNG"></div></td>
          <td><p> Many years ago I inherited a fairly decent Keyboard, with a missing volume dial. The dial stem still worked, it was just quite fiddly.
            <br/>This is just a simple circular block to fit onto the dial stem with a good grip around the outside edge.</p></td>
          <td></td>

        </tr>
      </table>

    </div>
    <h2>My Prints</h2>

    <div class="printed-container">
      <img src="components\3D Design\KeyboardDial1.PNG">
      <img src="components\3D Design\DoorSpacer1.PNG">
      <img src="components\3D Design\BlindControlGears1.PNG">
      <img src="components\3D Design\PintGlassAdapter1.PNG">
      <img src="components\3D Design\KeyHolder6.PNG">
      <img src="#./">
      <img src="#./">
      <img src="#./">
      <img src="#./">
      <img src="#./">
      <img src="#./">
      <img src="#./">
      <img src="#./">
    </div>
    <p style="text-align: center;"><i>Last Updated: 29/05/2018</i></p>
  </div>

  <!-- The Modal/Lightbox -->
  <div id="lightbox" class="lightbox-container">
    <div class="lightbox-content">
      <span class="close cursor" onclick="closeLightbox()">&times;</span>

      <div class="lightbox-slides">
        <div class="numbertext"></div>
        <img src="components\3D Design/KeyHolder2.PNG" style="width:100%" class="lightbox-image" alt="New Design">
      </div>

      <div class="lightbox-slides">
        <div class="numbertext"></div>
        <img src="components\3D Design/KeyHolder6.PNG" style="width:100%" class="lightbox-image" alt="Exploded View">
      </div>

      <div class="lightbox-slides">
        <div class="numbertext"></div>
        <img src="components\3D Design/KeyHolder.PNG" style="width:100%" class="lightbox-image" alt="Early Prototype">
      </div>

      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>

    </div>
  </div>

  </body>
</html>
