<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Jack Gooding: 3D Printing</title>
    <link rel="icon" type="image/png" href="curriculum_vitae\favicon.ico"/>

    <!--===========================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--===========================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>
  </head>
  <body class="external load">
  <div class="container">
    <p>I'm Jack Gooding, I like learning new things, I like building and making.</p>
    <img src="./static/profile.jpg">
    <p>I like to develop using Javascript as both a front end and a back end, I have experience in Python, HTML, CSS, JavaScript, Node and SQL.
       I prefer building projects with the back end as a main focus, I feel working on the building blocks of something and putting together something functional is very rewarding.
  <div>
  </body>
</html>
