<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Jack Gooding: 3D Printing</title>
    <link rel="stylesheet" href="components/3D Design/3D_Printing.less">
    <link rel="stylesheet" href="3D Design/3D_Printing.less">
    <link rel="icon" type="image/png" href="curriculum_vitae\favicon.ico"/>
    <script src="components/3D Design/3D_Printing.js"></script>

    <!--===========================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--===========================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>
  </head>
  <body class="external load">
  <div class="container">
    <p>I'm Jack Gooding, I like learning new things, I like building and making.</p>
    <img src="./static/profile.jpg">
  </div>
  </body>
</html>
