<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jack Gooding: CV</title>
    <link rel="stylesheet/less" href="./curriculum_vitae.less">
    <link rel="icon" type="image/png" href="curriculum_vitae\favicon.ico"/>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!--===========================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--===========================================================================================-->
    <script src="../static/js/less.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121612593-1');
    </script>



  <script>
    function goBack(fallbackUrl) {
        fallbackUrl = fallbackUrl || '/';
        var prevPage = window.location.href;

        window.history.go(-1);

        setTimeout(function(){
            if (window.location.href == prevPage) {
                window.location.href = fallbackUrl;
            }
        }, 500);
    };
  </script>
  </head>
  <body class="external load">
  <div class="curriculum_vitae container">
    <div class="row">
      <div class="col"><a class="not-print" href="#Back" onclick="goBack()"> &lt; Home</a></div>
      <div class="download">
        <p class="not-print">This page is printable. <a href="" onclick="print()">Print resume</a> or <a href="http://www.jack-gooding.com/resume.pdf">Download PDF.</a></p>
        <p class="print-only">To view the most up to date version of this document, visit <a href="">Jack-Gooding.com.</a></p>
      </div>
    </div>
    <header class="row">
      <h1>Jack Gooding - Curriculum Vitae</h1>
    </header>
    <section class="row">
      <div class="col">
        <table>
          <tr>
            <td style="font-weight: 600;" valign="top">Address:</td>
            <td>
              Exeter<br/>
              EX2</td>

          </tr>
        </table>
      </div>
    <div class="col">
      <table id="CV-links">
        <tr>
          <td style="font-weight: 600">Phone:</td>
          <td><a href="tel:012347890">+44 (0)12347890</a></td>
        </tr>
        <tr>
          <td style="font-weight: 600">Email:</td>
          <td><a href="mailto:jack-gooding-@outlook.com"><span>Jack-Gooding-@outlook.com</span></a></td>
        </tr>
        <tr>
          <td style="font-weight: 600">Website:</td>
          <td><a href="https://jack-gooding.com" target="_blank"><span>Jack-Gooding.com</span></a></td>
        </tr>
      </table>
     </div>
  </section>
  <section>
    <h2 class="section-title">Summary</h2>
    <p class="section-content">
      I'm a self taught coder, very interested in making things both physical and digital.
      Over the last year and a half I have taught myself all basic webdesign technologies, and have also used server oriented languages/technologies.
      I'm very self-sufficient and a quick learner, and enjoy jumping into new challenges.
      </p>
  </section>
  <section>
    <h2 class="section-title">Keywords</h2>
    <table class="section-content">
      <tr>
        <td>Web:</td>
        <td>HTML, CSS, LESS, Javascript, JQuery, Angular</td>
      </tr>
      <tr>
        <td>Server:</td>
        <td>Node.js, React, Electron, SQLite</td>
      </tr>
      <tr>
        <td>Rapid Prototyping:</td>
        <td>CAD (Solidworks, Onshape), 3D Printing, Laser Cutting</td>
      </tr>
      <tr>
        <td>Limited Experience:</td>
        <td>Java, Python, SASS, C++</td>
      </tr>
    </table>

  </section>
  <section>
    <h2 class="section-title project-container">Personal Projects</h2>
      <div>
        <h4 class="section-sub-title">Home Automation</h4>
        <p class="section-sub-content">A NodeJs server running on a Rasberry Pi 3b: this projects goal is to control all the IoT devices I have from one interface, and to make several custom IoT devices.
        </p>
      </div>
      <div>
        <h4 class="section-sub-title">Idle Game</h4>
        <p class="section-sub-content">I have always enjoyed Idle Games, and I thought that creating one would be a good way of increasing my knowledge of JavaScript and general web design.
          I started building while still learning a lot of the basics of JavaScript as an outlet to experiment and try the new methods I learned in an actual project.
          I set myself the challenge of having as little HTML hard coded, and instead generating it using a few objects as a base.
        </p>
      </div>
      <div>
        <h4 class="section-sub-title">PC Horse Transport</h4>
        <p class="section-sub-content">I was approached by a relative to help with a recently purchased business in which workflow inherited was very manually intensive, with all bookings and calculations being done on paper and by hand.
          I created a system to streamline this using a combination of Google services and scripting, to allow her and her customers to use an online booking form to submit their job requests, responding with a cost estimate, a new calendar event and a confirmation email.
        </p>
      </div>
  </section>
  <section>
    <h2 class="section-title">Employment</h2>
      <div class="clearfix">
        <h4 class="section-sub-title float-left"> Software Support, John Lewis</h4>
        <h4 class="float-right">2016 - Ongoing</h4>
      </div>
          <p class="section-sub-content"> In this role, my main responsibility is to provide advanced specialist support for colleagues in the lower tiers of customer support.
              This support is primarily troubleshooting issues customers have faced with their purchases, whether hardware or software related.
              I am required to constantly use my own in-depth knowledge of the main operating systems and popular devices, as well as learning and
              researching new information and techniques rapidly, while also handling either one of my colleagues or a customer.
              In addition to this, I step up to fill spaces in all other facets of the business, providing cover wherever needed, including managerial positions,
              direct customer support and staff training.
      </p>
      <div class="clearfix">
        <h4 class="section-sub-title float-left">Outreach Presenter, Plymouth University</h4>
        <h4 class="float-right">May - July 2016</h4>
      </div>
          <p class="section-sub-content"> As an Outreach Presenter, I gave presentations to visiting classes from secondary schools in the Plymouth area.
              These presentations were based on the concept of energy and electricity, how different countries generate electricity, and how they cope with the various problems surrounding it.
              In addition to this, I prepared and oversaw several group activities; in one of which, the children designed, built, and tested wind turbines made from office supplies.
          </p>
  </section>
  <section>
    <h2 class="section-title">Education</h2>
      <div class="clearfix">
        <h4 class="section-sub-title float-left">Plymouth University</h4>
        <h4 class="float-right">2012-2016</h4>
      </div>
      <div class="section-sub-content">
        <h6>BEng Mechanical Engineering, Lower Second Class Honours</h6>
        <table class="section-content">
          <tr><td>Engineering Drawing, CAD, and Design</td><td>69%</td></tr>
          <tr><td>Introduction to Thermo-Fluids</td><td>64%</td></tr>
          <tr><td>Engineering Mathematics</td><td>61%</td></tr>
          <tr><td>Integrated System Design</td><td>61%</td></tr>
          <tr><td>Business Dynamics</td><td>59%</td></tr>
          <tr><td>Mechanics</td><td>59%</td></tr>
        </table>
        <br/>
        <p>As part of my Third Year at Plymouth University, I completed a dissertation on efficient energy generation in rural areas, which focused on a small village in Cameroon, West Africa, with a very weak and unreliable power grid. I researched the area, decided which method of energy generation was most suitable, and then tested several designs  to determine the best blade type, while minimising the necessary materials and cost of the solution.</p>
      </div>
        <div class="clearfix">
          <h4 class="section-sub-title float-left">Tavistock College</h4>
          <h4 class="float-right">2006-2012</h4>
        </div>
        <div class="section-sub-content">
          <h6>A-Levels</h6>
          <p class="section-sub-sub-content">A* - Electronics, B - Maths, B - Physics</p>
          <h6>GCSEs</h6>
          <p class="section-sub-sub-content">11 GCSEs including Electronics, Maths, Physics, Chemistry, Biology and Graphic Design</p>
        </div>
  </section>
  <section>
    <h2 class="section-title">Hobbies/Interests</h2>
    <div>
      <h4 class="section-sub-title">Making</h4>
      <p class="section-sub-content">I have always had a keen interest in making and building things. I am always working on at least one project in various specialisations, and always looking to improve my knowledge and abilities. The creations I am most proud of are: a Digital Clock made from scratch using logic gates, a 3D printed key holder, and a handmade wooden cabinet. </p>
    </div>
    <div>
      <h4 class="section-sub-title">Film & TV</h4>
      <p class="section-sub-content">I enjoy keeping up with new releases, and am almost always watching something in the background.</p>
    </div>
  </section>
  <footer style="text-align: center;"><i>Last Updated: September 2018</i></footer>
</div>
</body>
</html>
