<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jack Gooding: CV</title>
    <link rel="stylesheet" href="./components/curriculum_vitae.css">
    <link rel="icon" type="image/png" href="curriculum_vitae\favicon.ico"/>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!--===========================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--===========================================================================================-->
    <script src="../static/js/bootstrap.min.js"></script>
  <script>
  let goBack = function() {
    history.back();
    return false;
  };
  </script>
  </head>
  <body class="external load">
  <div class="curriculum_vitae container">
    <div class="row">
      <a href="#Back" onclick=goBack()> < Home</a>
    </div>
    <div class="row">
      <h1>Jack Gooding</h1>
    </div>
    <div class="row">
    <div class="col">
    <table>
      <tr>
        <td style="font-weight: 600;" valign="top">Address:</td>
        <td style="padding-left: 50px;">
          Exeter<br/>
          EX2</td>

      </tr>
    </table>
    </div>
    <div class="col">
      <table>
        <tr>
          <td style="font-weight: 600">Phone:</td>
          <td style="padding-left: 50px;">+44 (0)12347890</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Email:</td>
          <td style="padding-left: 50px;"><a href="mailto:jack-gooding@live.co.uk"><span>jack-gooding@live.co.uk</span></a></td>
        </tr>
        <tr>
          <td style="font-weight: 600">Website:</td>
          <td style="padding-left: 50px;"><a href="https://jack-gooding.github.io" target="_blank"><span>jack-gooding.github.io</span></a></td>
        </tr>
      </table>
     </div>
  </div>
  <div>
    <h2 class="project-container">Personal Projects</h2>
      <div class="project-cell">
        <h4>Huebilight</h4>
        <p>A NodeJs server running on a Rasberry Pi 3b, this projects goal is to implement as much Home Automation as possible and integrate it into one interface.</p>
      </div>
  </div>
  <div>
    <h2>Employment</h2>
      <div class="clearfix">
        <h4 class="float-left">John Lewis, Software Support</h4>
        <h4 class="float-right">2016 - Ongoing</h4>
      </div>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nulla ac risus hendrerit porta nec vitae neque. Curabitur id viverra lorem. Donec id ante quis ligula dignissim vehicula hendrerit et enim. Donec in quam metus. In hac habitasse platea dictumst. Phasellus dapibus quam tellus, nec efficitur ipsum pellentesque quis. Vivamus ligula metus, consectetur non leo sit amet, pulvinar placerat nunc. Sed at urna lorem. Mauris pharetra lectus ac lectus suscipit, eget elementum diam porttitor.

          In vitae tellus fringilla, dictum neque at, accumsan sapien. Sed in ex ornare mi gravida dignissim. Maecenas suscipit diam in tellus convallis, venenatis pharetra leo tristique.
      </p>
      <div class="clearfix">
        <h4 class="float-left">Plymouth University, Outreach Presenter</h4>
        <h4 class="float-right">July - August 2016</h4>
      </div>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nulla ac risus hendrerit porta nec vitae neque. Curabitur id viverra lorem. Donec id ante quis ligula dignissim vehicula hendrerit et enim. Donec in quam metus. In hac habitasse platea dictumst. Phasellus dapibus quam tellus, nec efficitur ipsum pellentesque quis. Vivamus ligula metus, consectetur non leo sit amet, pulvinar placerat nunc. Sed at urna lorem. Mauris pharetra lectus ac lectus suscipit, eget elementum diam porttitor.
      </p>
  </div>
  <div>
    <h2>Education<h2>
      <div class="clearfix">
        <h4 class="float-left">Plymouth University</h4>
        <h4 class="float-right">2018</h4>
      </div>
      <h6>BEng Mechanical Engineering, Lower Second Class Honours</h6>
        <table class="col">
          <tr><td>Thermodynamics</td><td>65%</td></tr>
          <tr><td>Mechanics</td><td>64%</td></tr>
          <tr><td>Business Dynamics</td><td>62%</td></tr>
          <tr><td>Advanced Mechanics</td><td>61%</td></tr>
        </table>
        <div class="clearfix">
          <h4 class="float-left">Tavistock College</h4>
          <h4 class="float-right">2006-2012</h4>
        </div>
        <h6>A-Levels</h6>
        <p>A* - Electronics, B - Maths, B - Physics</p>
        <h6>GCSEs</h6>
        <p>11 GCSEs including Electronics, Maths, Physics, Chemistry, Biology</p>
  </div>
  <div>
    <h2>Hobbies/Interests</h2>
    <p>I love designing and making things.</p>
  </div>
  <p style="text-align: center;"><i>Last Updated: 08/05/2018</i></p>
</div>
  </body>
  </html>
