<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node.js Server</title>
    <link rel="stylesheet" href="./components/projects.css">
    <link rel="stylesheet" href="./projects.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121612593-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121612593-1');
</script>

  </head>
  <body class="external">


    <h4>Current Projects:</h4>
  <div class="current-projects projects-container">
    <div class="row project">
      <div class="col-1 "><img class="project-icon" src="static/lightbulbON.ico"/></div>
      <div class="col-3">
          <a class="project-title" href="https://Jack-Gooding.github.io/Node-Server/public/index.html">Hue Ambilight Server</a>
          <p class="right top" >
            (<a href="https://github.com/Jack-Gooding/Node-Server">Github</a>)
            <br/>
            (<a href="https://youtube.com/Jack.Gooding">YouTube</a>)
          </p>
      </div>
      <div class="col"><p>
        A Node.js server for personal use, to control as much of my home as posible. Will be controlling several IoT Devices, both commercial and made by myself.
        <br/>
        <br/>Currently controls: Philips Hue Lights, TP-Link Smart Plugs, WS2812b RGB LED strip, Desktop Computer, Motion Detection Camera, Temperature/Humidity monitor.
        <br/>Planned: Windows Blind control, Potted Plant monitor.
      </p>
      </div>
    </div>
    <table>
    <tr class="project-row">
      <td><img class="project-icon" src="components\3D Design\KeyHolder6.PNG"></td>
      <td><p class="project-title">Key Holder</p></td>
      <td><p class="project-description"></p></td>
      <td>Thingiverse <br/> Onshape</td>
    </tr>
  </table>
      <div class="row project">
        <div class="col-1 "><img class="project-icon" src="static/electron_logo.png"/></div>
        <div class="col-3">
          <a class="project-title" href="#">Huebilight</a>
          <p class="right top" >(<a href="https://github.com/Jack-Gooding/Huebilight">Github</a>)</p>
        </div>
        <div class="col"><p>This is the intended end-goal of my Node-Server project, to convert the web-app into a Desktop program, which will allow features like Ambilight, or Game Sense to be passed to Lights etc.
          <br/>
          <br/>Currently can read an average screen colour and feed it to an RGB output, but I would like to finish working on the web-app before fully attempting to port it.</p></div>

      </div>
    </div>
    <h4>Ongoing Projects:</h4>
    <div class="current-projects projects-container">
      <div class="row project">
        <div class="col-1"><img class="project-icon" style="border-radius: 5%;" src="components\3D Design\KeyHolder3.PNG"/></div>
        <div class="col-3">
          <a class="project-title" href="index.html#!/3D_Printing">3D Printing / Design</a>
          <p class="right top" >(<a href="##TODO">Thingiverse</a>)</p>
        </div>
        <div class="col"><p>
          I recently purchased a simple 3D Printer to make use of the CAD skills I learned at University and to try my hand at making some useful products that i would use regularly.
         </br>
          I have since designed <a href="https://cad.onshape.com/documents/cc61a0b2fd815146636a53ee/w/d4b555cc0c87ce8ab2ba050d/e/0d6475fe8a4ff6a6fef70709">a Key Holder</a> and <a href="https://cad.onshape.com/documents/e94fcd2ddb636e368f41b076/w/559d9f93ecaa72de794c1818/e/ab4ceccc0e75189d302aaf58">a Pint Glass Cap</a>, and printed much more.</p>
          Initially I learnt 3D Design using <a href="https://www.solidworks.com/">Solidworks</a>, however I have since found <a href="https://www.onshape.com/">OnShape</a> to be a great alternative, with the only caveat being that I agree to all my designs being public.
        </div>
        </div>
        </div>
  <h4>Past Projects:</h4>
  <div class="current-projects projects-container">
    <div class="row project">
      <div class="col-1  "><img class="project-icon" src="static/idle_game.png"/></div>
      <div class="col-3">
        <a class="project-title" href="https://Jack-Gooding.github.io/IDLE_GAME">Idle Game</a>
        <p class="right top" >(<a href="https://github.com/Jack-Gooding/IDLE_GAME">Github</a>)</p>
      </div>
      <div class="col"><p>A simple Idle Game based on <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>.
        <br/>
         This was a learning excercise, to try and advance my Javascript knowledge. I may attempt to remake this using a library like Angular.js.</p></div>

    </div>
    <div class="row project">
      <div class="col-1 "><img class="project-icon" src="static/LED_Green.png"/></div>
      <div class="col-3">
        <a class="project-title" href="Projects\Web_Design\Website_Examples\Raspberry Pi Flask Server\LED_Set.html">LED Control Page</a>
        <p class="right top" >(<a href="https://github.com/Jack-Gooding/Jack-Gooding.github.io/tree/master/Projects/Web_Design/Website_Examples/Raspberry%20Pi%20Flask%20Server">Github</a>)</p>
      </div>
      <div class="col"><p>This is the first project I attempted, with the goal of controlling a ws2812b RGB LED strip. I used a Python Flask server to achieve this.
        <br/>
        <br/>Can change LED strip colours, or start set scripts.</p></div>

    </div>
  </div>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
