/*Variables*/
@table-radius: 10px;
@green: green;
@link-color: #005577;


/*Mixins*/
.center() {
  position: relative;
  left: 50%;
  transform+_: translateX(-50%);
}

.td-before() {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 75%;
  background: black;
}

.unselectable() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  user-drag: none;
  -webkit-user-drag: none;
}


/*Styling*/

h4 {
  margin-top: 5px;
  padding: 0;
}

.project-image {
  .unselectable();
  min-width: 50px;
  max-width: 120px;
  padding: 50px 0;
  .center;

}

.project-title {
  top: 50%;
}

.ref-icon {
  max-width: 30px;
  display: block;
  margin: 5px;
  transition-duration: 0.1s;
  padding: 5px 0;
}

table {
    width:100%;
    border-collapse: separate;
    height: auto;
    border-spacing: 0;
}

.project-description {
  padding: 20px;
}

/*Rounding corners of Tables*/
tr:first-of-type td:first-of-type { border-top-left-radius: 10px; }
tr:first-of-type td:last-of-type { border-top-right-radius: 10px; }
tr:last-of-type td:first-of-type { border-bottom-left-radius: 10px; }
tr:last-of-type td:last-of-type { border-bottom-right-radius: 10px; }


.projects-container {
  border-radius: 10px;
  position: relative;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.project {
  border-radius: 5px;
  border-radius: 10px;
  position: relative;

  .ref-icon {
    .unselectable();
    &:hover {
      transform+_: scale(1.1);
      transition-duration: 0.05s;
    }
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: @link-color;
    &:hover {
      color: darken(@link-color, 10%);
      text-decoration: underline;
    }
  }

  .project-title {
    a {
      text-decoration: none;
      font-weight: 500;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }

.project-image-shadow {
  height: 100%;
  width: 100%;
  position: relative;

}

  td {
    position: relative;
    height: 100%;

    &:nth-child(1) { //Project Icon
      width: 10%;
      position: relative;
      height: 100%;
      a {
        &:hover {
        &::before {
          content: "";
          position: absolute;
          width: 100px;
          height: 50px;
          top: 50%;
          left: 50%;
          background-color: rgba(255,255,255,0);
          transform: translate(-50%, -200px;);
          border-radius: 50px;
          //horizonal off, vertical off, blur, spread
          -webkit-box-shadow: 0px 220px 30px 5px rgba(0,0,0,0.3);
          -moz-box-shadow: 0px 220px 30px 5px rgba(0,0,0,0.3);
          box-shadow: 0px 220px 30px 5px rgba(0,0,0,0.3);
        }
        }
      }
    }

    &:nth-child(2) { //Projct Title
      padding: 2px;
      width: 15%;
      text-align: center;
    }

    &:nth-child(3) { //Project Description
      color: lighten(black,30%);
    }

    &:nth-child(4) { //Project Links
      padding: 15px;

    }
    &:nth-child(1n+2) { // Betwixt table lines
      &::before {
        .td-before;
      }
    }
  }
}

.project-row {
  position: relative;
  width: 100%;
}

.project-row:nth-child(1) > * {
  width: 20px;
  height: 20px;
}

.project-icon {
  position: relative;
  width: 50%;
  margin: auto;
}

.project:nth-child(even) td {
  background-color: #dcdcdc;
}

.project:nth-child(odd) td {
  background-color: #cdcdcd;
}
