<!DOCTYPE html>
<html lang="en">
<head>
  <title>scroll-top</title>
  <link rel="stylesheet" href="./components/scroll-top.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body class="external load">
<div class="scroll-top">
  <div class="scroll-top-up-icon">
    <i class="fas fa-fw fa-3x fa-angle-up"></i>
  </div>
</div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
<script src="./components/scroll-top.js"></script>
