<!DOCTYPE html>
<html lang="en">
  <head>
    <title>side-nav</title>
    <link rel="stylesheet" href="./components/side-nav.css">
  </head>
  <body class="external load">
    <div class="side-nav">
      <div class="profile-container">
        <img data-tilt="" data-tilt-perspective="1000" class="profile-picture" src="./static/profile.jpg" alt="Profile Photo" />
        <p class="profile-name">Jack Gooding</p>
      </div>
      <div class="side-nav-quick-links">
        <ul>
          <li><a href="index.html#/projects">Projects</a></li>
          <li><a href="index.html#/tutorials">Tutorials</a></li>
          <li><a href="index.html#/about">About</a></li>
          <li><br/></li>
          <li><a href="components\curriculum_vitae.html">Curriculum Vitae</a></li>
        </ul>
      </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
