<!DOCTYPE html>
<html lang="en">
  <head>
    <title>side-nav</title>
    <link rel="stylesheet" href="./components/side-nav.css">
  </head>
  <body class="external load">
    <div class="side-nav">
      <div class="profile-container">
        <img data-tilt="" class="profile-picture" src="./static/profile.jpg" alt="Profile Photo" />
        <p class="profile-name">Jack Gooding</p>
      </div>
      <div class="side-nav-quick-links">
        <ul>
          <li><a href="https://Jack-Gooding.github.io">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="tutorials.html">Tutorials</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
