
#buttons {
  overflow-y: auto;
  padding: 0 0 0 0;
  color: RGB(255,255,255);
  overflow: hidden;
  text-align:center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
   }
#buttons ul {
padding: auto; }

#buttons li {
 border-color: rgba(200,200,255,1);
 border-style: solid;
 border-width: 2px;
 border-radius: 5px;
 background-color: RGBa(60,120,180,1);
 color: rgba(200,255,255,1);
 padding: 4px 25px;
 margin: 15px 30px;
 display: inline-block;
 width: 100px;

  }

#buttons img {
  height: 30px;
  padding: 10px 0 5px 0;
 }

#buttons li:hover {
	background: #B6D434;
    background-color: #B6D434;
    }

#buttons li:active {
    background-color: #FFF;
    position:relative;
    top: 3px;
    transform:scale(0.999);
    }


    #radio:hover {
    padding: 5px;
    border: solid 6px rgb(255,0,0);
    border-radius: 3px;
    background-color: skyBlue; }

    #radio:active {
    position:relative;
    padding: 1px;
    border-radius: 3px;
    background-color: blue;
    top: 3px; }

    #submit {
    position:relative;
    padding: 1px;
    border-radius: 3px;
     }

    #submit:active {
    top: 3px; }

    .scrollToTop{
    	width:60px;
    	height:60px;
    	background: whiteSmoke;
    	position:fixed;
    	bottom:75px;
    	right:40px;
    	display:block;
    	background: #222;
      text-align: center;
      border: solid 3px white;
      border-radius: 15px;
    }
